<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>questionData1</key>
        <array>
            <dict>
                <key>question</key>
                <string>apple</string>
            </dict>
            <dict>
                <key>question</key>
                <string>banana</string>
            </dict>
            <dict>
                <key>question</key>
                <string>orange</string>
            </dict>
            <dict>
                <key>question</key>
                <string>remon</string>
            </dict>
            <dict>
                <key>question</key>
                <string>peach</string>
            </dict>
            <dict>
                <key>question</key>
                <string>pine</string>
            </dict>
            <dict>
                <key>question</key>
                <string>lychee</string>
            </dict>
            <dict>
                <key>question</key>
                <string>ke.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>na.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>nu.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>ne.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>ho.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>ma.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>mo.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>yu.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>mi.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>ru.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>re.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>wa.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>wo.png</string>
            </dict>
        </array>
        <key>questionData2</key>
        <array>
            <dict>
                <key>question</key>
                <string>o1.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>ka1.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>sa1.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>su1.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>se1.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>ta1.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>nu1.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>ne1.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>hi1.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>ho1.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>yo1.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>mi1.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>me1.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>ra1.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>ro1.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>wa1.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>wo1.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>mo1.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>ma1.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>ri1.png</string>
            </dict>
        </array>
        <key>questionData3</key>
        <array>
            <dict>
                <key>question</key>
                <string>a2.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>s2.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>z2.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>b2.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>m2.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>n2.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>g2.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>r2.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>d2.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>w2.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>y2.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>as2.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>es2.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>ds2.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>bs2.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>ps.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>k.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>q2.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>h2.png</string>
            </dict>
            <dict>
                <key>question</key>
                <string>x2.png</string>
            </dict>
        </array>
    </dict>
</plist>
